.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1000; /* Increased z-index */
  display: flex;
  justify-content: space-between;
  background-color: #fff; /* Ensure background color is set */
}

.nav__logo {
  position: absolute;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.nav_black {
  background-color: #111;
  transition: all 0.5s;
}

.menuh {
  display: inline;
  color: aliceblue;
  padding-left: 60px;
}

/* Add top padding to the body or main content */
body {
  padding-top: 70px; /* Adjust this value based on the total height of the nav */
}